<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atouchofjoe.ghprototye4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".location.info.LocationInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.GHStoryContentProvider"
            android:authorities="com.atouchofjoe.ghprototye4.location.data"
            android:grantUriPermissions="true"
            android:readPermission="com.atouchofjoe.ghprototye4.location.data.READ"
            android:writePermission="com.atouchofjoe.ghprototye4.location.data.WRITE" />

        <activity
            android:name=".party.info.CreatePartyActivity"
            android:label="@string/title_activity_create_party"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atouchofjoe.ghprototye4.MainActivity" />
        </activity>
        <activity
            android:name=".party.info.EditPartyActivity"
            android:label="Edit Party"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atouchofjoe.ghprototye4.MainActivity" />
        </activity>
    </application>

</manifest>